@font-face {
  font-family: "changa";
  src: url(./Changa-VariableFont_wght.ttf);
}
/* basics */
html,
body,
.app {
  width: 100%;
  font-family: sans-serif;
  margin: 0;
}

img {
  height: 35px;
  width: 35px;
}

/* layouts */
.app {
  display: grid;
  grid-template-rows: 15vh 80vh 5vh;
}

.footer {
  background-color: gold;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 3vh;
}
.header {
  display: flex;
  grid-column: 1 / span2;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dashboard {
  display: grid;
  grid-template-rows: 32vh 40vh 8vh;
  height: 100%;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-box {
  display: flex;
  flex-direction: column;
}

.boxes > div,
.project-box-title,
.project {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.display {
}

/* blocks */
.header {
  font-family: "changa";
  width: 100%;
  background-color: gold;
  font-size: 5vh;
}

.today-date,
.logo {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.todo-icon {
  background-image: url(./icons/todoIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 7vh;
  width: 7vw;
}

.dashboard {
  background-color: rgb(255, 253, 109);
  font-size: large;
}

.boxes {
  padding: 16px;
}

.display {
  background-color: rgb(228, 228, 196);
}

.add-btn {
  color: black;
  font-size: min(30px, 5vh);
  font-weight: 900;
  background-color: rgb(255, 253, 109);
  border-color: gold;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1vh;
}

.project-box-title {
  padding: 16px;
}
.project-box {
  border-top-style: solid;
  border-top-color: gold;
  border-top-width: 1vh;
}

.projects {
  padding: 0px 40px;
}

.boxes > div,
.project {
  height: fit-content;
  width: fit-content;
}

.boxes,
.project-box {
  overflow: auto;
}

.boxes::-webkit-scrollbar,
.project-box::-webkit-scrollbar {
  display: none;
}

/* modifications */

.boxes > div:hover,
.project:hover {
  font-size: larger;
}

.add-btn:hover {
  font-size: min(50px, 6vh);
}
