@font-face {
  font-family: "changa";
  src: url(./Changa-VariableFont_wght.ttf);
}
/* basics */
html,
body,
.app {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

img {
  height: 35px;
  width: 35px;
}

/* layouts */
.app {
  display: grid;
  grid-template-rows: 15vh 80vh 5vh;
}

.footer {
  background-color: gold;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 3vh;
}
.header {
  display: flex;
  grid-column: 1 / span2;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dashboard {
  display: grid;
  grid-template-rows: 32vh 40vh 8vh;
  height: 100%;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-box {
  display: flex;
  flex-direction: column;
}

.boxes > div,
.project-box-title,
.projects > div {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.todo-boxes {
  display: flex;
  flex-direction: column;
}

.todo-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.add-form {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.project-form {
  display: none;
  flex-direction: column;
  gap: 20px;
}

/* blocks */
.header {
  font-family: "changa";
  width: 100%;
  background-color: gold;
  font-size: 5vh;
}

.today-date,
.logo {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.todo-icon {
  background-image: url(./icons/todoIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 7vh;
  width: 7vw;
}

.dashboard {
  background-color: rgb(255, 253, 109);
  font-size: large;
}

.boxes {
  padding: 16px;
}

.display {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 15px;
}

.project-title {
  font-size: xx-large;
  padding: 8px;
  border-bottom: solid 3px gold;
}

.todo-boxes {
  padding: 8px;
}

.todo-box-total {
  display: grid;
  grid-template-rows: 4 1;
  border-bottom: solid 3px gold;
}

.todo-box {
  padding: 4px;
  font-size: 22px;
}

.priority-box {
  display: flex;
  align-items: center;
  padding: 8px;
  width: fit-content;
}
.todo-lower-box {
  display: none;
  flex-direction: column;
}

.description-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
}

.todo-title {
  margin-right: auto;
}

.checkbox {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: white;
  border: solid black 3px;
}
.done {
  background: url(./icons/done\ mark.png);
  background-repeat: no-repeat;
  background-color: gold;
}
.pop {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.134);
}

.add-form {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
  border-radius: 5px;
  width: max(20vw, auto);
  height: max(5vh, auto);
}

.add-form > div {
  color: black;
  padding: 16px 8px;
  width: 250px;
  border: solid 3px black;
}

.add-form > div:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.project-form {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
  border-radius: 5px;
  width: max(20vw, auto);
  height: max(5vh, auto);
  font-size: large;
}

.project-form > input {
  border: none;
  width: 150px;
  height: 30px;
}

.project-form > input:focus-visible {
  outline: none;
}

.project-form > button {
  width: 150px;
  height: 30px;
  background-color: gold;
  border: 3px solid black;
}

.project-form > button:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.add-btn {
  color: black;
  font-size: min(30px, 5vh);
  font-weight: 900;
  background-color: rgb(255, 253, 109);
  border-color: gold;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1vh;
}

.project-box-title {
  padding: 16px;
}
.project-box {
  border-top-style: solid;
  border-top-color: gold;
  border-top-width: 1vh;
}

.projects {
  padding: 0px 40px;
}

.boxes > div,
.project {
  height: fit-content;
  width: fit-content;
}

.boxes,
.project-box {
  overflow: auto;
}

.boxes::-webkit-scrollbar,
.project-box::-webkit-scrollbar {
  display: none;
}

.todo-form {
  display: none;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
  border-radius: 5px;
  width: max-content;
  height: max(5vh, auto);
}

.todo-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  justify-content: start;
}

.todo-form > div > :focus-visible {
  outline: none;
}

input,
select {
  min-height: 30px;
  padding: 3px;
  border: none;
  background-color: white;
  box-sizing: border-box;
}
.todo-form > div:last-child {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.todo-form > div:last-child > div {
  border: 3px solid black;
  padding: 8px;
  width: 100px;
  box-sizing: content-box;
}
.todo-form > div:last-child > div:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.todo-form > div > textarea {
  align-self: center;
  resize: none;
  height: 80px;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.project-element {
  display: flex;
  justify-content: space-between;
}

.project-name-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-element > div:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

textarea {
  resize: none;
  padding: 5px;
}

.important-mark,
.todo-details,
.delete-todo {
  width: 35px;
  height: 35px;
  transition: all 0.3s;
}

.is-important > svg {
  fill: gold !important;
}
.is-important > svg > path {
  stroke: gold !important;
}
.important-mark > svg {
  width: 35px;
  height: 35px;
  fill: white;
}

.important-mark > svg > path {
  stroke: black;
}

.description-box > textarea {
  width: 800px;
  height: 50px;
}

.date-error {
  display: none;
  justify-content: center;
  color: red;
}

.project-form-error {
  display: none;
  justify-content: center;
  color: red;
}
/* modifications */

.boxes > div:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.add-btn:hover {
  font-size: min(50px, 6vh);
  transition: all 0.1s;
}

.checkbox:hover,
.important-mark:hover,
.todo-details:hover,
.delete-todo:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}
